{% extends 'base.html' %}

{% block title %}
<title>Todo List Manager - TaskMate</title>
{% endblock title %}

{% block content %}
<div class="container">
    <br>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    
    <form method="POST" class="row">
        {% csrf_token %}
        <div class="col-lg-8">
            <input type="text" class="form-control" name="task" placeholder="Wanna add task?">
        </div>
        <button type="submit" class="btn btn-primary col-lg-4">Add Task</button>
    </form>
    
    <br>
    <table class="table table-hover text-center">
        <thead class="table-dark">
            <tr class="row">
                <th class="col-7">Task</th>
                <th class="col-3">Status</th>
                <th class="col-1">Edit</th>
                <th class="col-1">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% if all_tasks %}
            {% for task in all_tasks %}        
            {% if task.done %}
            <tr class="table-success row">
                <td class="col-7"><del>{{ task.task }}</del></td>
                <td class="col-3"><a href="{% url 'toggle_task_status' task.id %}" class="text-decoration-none btn btn-secondary btn-sm">Mark as Not-Done</a></td>
                <td class="col-1"><a href="{% url 'edit_task' task.id %}" class="btn btn-outline-secondary btn-sm">edit</a></td>
                <td class="col-1"><a href="{% url 'delete_task' task.id %}" class="btn btn-outline-danger btn-sm">delete</a></td>
            </tr>
            {% else %}
            <tr class="row">
                <td class="col-7">{{ task.task }}</td>
                <td class="col-3"><a href="{% url 'toggle_task_status' task.id %}" class="text-decoration-none btn btn-primary btn-sm">Mark as Done</a></td>
                <td class="col-1"><a href="{% url 'edit_task' task.id %}" class="btn btn-outline-secondary btn-sm">edit</a></td>
                <td class="col-1"><a href="{% url 'delete_task' task.id %}" class="btn btn-outline-danger btn-sm">delete</a></td>
            </tr>
            {% endif %}    
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
    
    <nav>
        <ul class="pagination justify-content-end">
            <li class="page-item">
                <a class="page-link" href="?pg=1">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            {% if all_tasks.has_previous %}
            <li class="page-item"><a class="page-link" href="?pg={{all_tasks.previous_page_number}}">{{all_tasks.previous_page_number}}</a></li>
            {% endif %}

            <li class="page-item"><a class="page-link" href="?pg={{all_tasks.number}}"><strong>{{all_tasks.number}}</strong></a></li>
            
            {% if all_tasks.has_next %}
            <li class="page-item"><a class="page-link" href="?pg={{all_tasks.next_page_number}}">{{all_tasks.next_page_number}}</a></li>
            {% endif %}

            <li class="page-item">
                <a class="page-link" href="?pg={{all_tasks.paginator.num_pages}}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    
</div>
{% endblock content %}
